---
import { getEntryBySlug, type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  console.log("Slugs generados para páginas del blog:");
  console.log(posts.map((post) => post.slug));

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug) as CollectionEntry<'blog'>;

if (!post) {
  throw new Error(`No post found for slug: ${slug}`);
}

---

<article>
  <h1>{post.data.title}</h1>
  <p><em>{post.data.date.toDateString()}</em></p>
  <p>{post.data.info}</p>
  <div set:html={post.body} />
</article>

<style>
  h1{
    font-size: 18px;
    letter-spacing: 0.09em;
  }

  p{
    font-size: 15px;
  }
</style>
