---
import Navbar from '../../components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import { getEntryBySlug, type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  console.log("Slugs generados para páginas del blog:");
  console.log(posts.map((post) => post.slug));

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug) as CollectionEntry<'blog'>;

if (!post) {
  throw new Error(`No post found for slug: ${slug}`);
}

---
<Layout title={post.data.title}>
  <main>
    <Navbar/>
    <article>
      <h1>{post.data.title}</h1>
      <p class="date"><em>{post.data.date.toDateString()}</em></p>
      <!-- <p>{post.data.info}</p> -->
      <div set:html={post.body} />
    </article>

  </main>
</Layout>
<style>
  main{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    margin-top: 2%;
    margin-left: 280px;
    /*margin-right: 50px;
    border: 1px solid white;*/
    width: 800px;
  }

  article{
    margin-top: 2%;
    padding: 8px 25px 30px;
    border-radius: 15px;
    border: 2px solid #525252;

  }

  h1{
    font-size: 25px;
    letter-spacing: 0.09em;
    text-align: center;
  }

  .date{
    font-size: 15px;
    text-align: right;
  }
</style>
