---
import Navbar from '../../components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import { getEntryBySlug, type CollectionEntry, getCollection } from 'astro:content';
import LayoutSecond from '../../layouts/LayoutSecond.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  console.log("Slugs generados para páginas del blog:");
  console.log(posts.map((post) => post.slug));

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug) as CollectionEntry<'blog'>;

if (!post) {
  throw new Error(`No post found for slug: ${slug}`);
}

---
<LayoutSecond title={post.data.title}>
    <article>
      <h1>{post.data.title}</h1>
      <p class="date"><em>{post.data.date.toDateString()}</em></p>
      <!-- <p>{post.data.info}</p> -->
      <div set:html={post.body} />
    </article>
</LayoutSecond>
<style>
  
  article{
    margin-top: 2%;
    padding: 8px 25px 30px;
    border-radius: 15px;
    border: 2px solid #525252;

  }

  h1{
    font-size: 25px;
    letter-spacing: 0.09em;
    text-align: center;
  }

  .date{
    font-size: 15px;
    text-align: right;
  }
</style>
